<!-- terms/edit.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editing <%= term.term %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit <%= term.term %> at <%= term.term %></h1>
    <form action="/update-term/<%= term._id %>?_method=PUT" method="POST">

  <label for="term">Term:</label>
  <input type="text" name="term" id="term" value="<%= term.term %>" />

  <label for="definition">Definition:</label>
  <input type="text" name="definition" id="definition" value="<%= term.definition %>"/>

  <select id="category" name="category">
      <option
        value="front end"
        <%= term.category === 'front end' ? 'selected' : '' %>
      >
        Front End
      </option>
      <option
        value="back end"
        <%= term.category === 'back end' ? 'selected' : '' %>
      >
        Back End
      </option>
      </option
       value="dev ops"
        <%= term.category === 'dev ops' ? 'selected' : '' %>
      >
        Back End
      </option>
    </select>

  <button type="update">Update</button>
</form>
</div>
  </body>
</html>