<!-- terms/index.ejs  ADD LINKS TO SHOW PAGE INSIDE FOR LOOP-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View all terms</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>
        <table>
            <thead>
            <tr>
                <th>Term</th>
                <th>Definition</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <% terms.forEach((term) => { %>
                <tr>
                    <a href="/users/<%= user._id %>/terms/<%= term._id %>"></a>
                    <td><%= term.term %></td>
                    <td><%= term.definition %></td>
                    <td><%= term.category %></td>
                </tr>
            <% }) %>
        </tbody>
        </table>
    </h1>
  </body>
</html>