<!-- all-terms/index.ejs  ADD LINKS TO SHOW PAGE INSIDE FOR LOOP-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>View all terms</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="all-apps-body">
    <div class="all-apps-header">
    <h1>
        <table>
            <thead>
                <tr class="table-head">
                    <th >Term</th>
                    <th >Definition</th>
                    <th >Category</th>
                </tr>
            </thead>
            <tbody>
            </div>
            <% terms.forEach((term) => { %>
                <tr class="entries">
                    <a href="/terms/<%= term._id %>">
                    <td><%= term.term %></td>
                    <td><%= term.definition %></td>
                    <td><%= term.category %></td>
                </a>
                </tr>
            <% }) %>
            </tbody>
            </div>
        </table>
    </h1>
  </body>
</html>