<!-- terms/show.ejs MAKE THIS THE SHOW PAGE FOR INDIVIDUAL TERMS, MAKE SURE HAVE ROUTE FOR SHOW PAGE -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/show.css" />
    <title>Edit or Delete Terms</title>
  </head>
  <body class="show-body">
    <%- include('../partials/_navbar.ejs') %>
   <table class="show-table">
            <thead>
                <tr class="show-table-head">
                    <th >Term</th>
                    <th >Definition</th>
                    <th >Category</th>
                </tr>
            </thead>
            <tbody>
            </div>
            <% terms.forEach((term) => { %>
                <tr class="show-entries">
                  <td><%= term.term %></td>
                  <td><%= term.definition %></td>
                  <td><%= term.category %></td>
                  <td> <a class="edit-button" href="/<%= term._id %>/edit">
                      Edit this term</a></td>
                  <td> 
                    <form action="/<%= term._id %>?_method=DELETE" method="POST">
                    <button class="delete-button" type="submit">Delete this term</button>
                </form>
                </td>
                </tr>
            <% }) %>
            </tbody>
            </div>
        </table>
  </body>
</html>